{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GET YOKED NOW</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'workouts-index' %}">Past Workouts</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>

